{% extends 'base.html.twig' %}
{% block body %}
<h1>Ajout</h1>
{{ form_start(form) }}
    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i>Ajouter</button>
{{ form_end(form) }}

{% endblock %}